@font-face {
    font-family: signatra;
    src: url(../fonts/Signatra.otf);
}

body {
    background: #200444;
    margin-top: 60px;
}

h1, h2, label, table.addition {
    color: #fff;
}

h1 {
    position: fixed;
    width: 100%;
    display: block;
    height: 60px;
    background: #000 url("../img/trackmybank.png") no-repeat 5px 5px;
    background-size: 50px 50px;
    font-family: signatra;
    font-size: 30pt;
    line-height: 60px;
    margin-top: -60px;
    margin-bottom: 0;
    text-align: center;
    z-index: 1000;
}

h2 {
    font-size: 16pt;
}

form {
    padding: 0 20px 20px;
}

form label {
    width: 60px;
    font-size: 18pt;
    text-align: right;
}

form input, form select {
    width: calc(100% - 65px);
    font-size: 18pt;
}

form input.amount {
    width: calc(100% - 115px);
    /*width: calc(100% - 242px)*/
}

form input.total-amount {
    width: 100px;
}

form p.plus {
    width: 20px;
    color: #fff;
    font-size: 20pt;
    text-align: center;
    display: inline-block;
    margin-bottom: 0;
}

form div.total {
    display: inline-block;
}

form input.addition {
    width: 45px;
}

form label {
    margin-top: 20px;
    padding-right: 4px;
}

form label.first {
    margin-top: 0;
}

form select {
    height: 40px;
}

form button {
    margin-top: 30px;
    font-size: 13pt;
    margin-right: 6px;
    padding: 5px 6px;
}

form button.last {
    margin-right: 0;
}

form button#show-addition {
    width: 45px;
}

button#send {
    width: 90px;
}

button#add-subtr, button#del-subtr {
    width: 75px;
    text-align: center;
}

form .newline button {
    margin-top: 10px;
    margin-left: 98px;
}

#login {
    height: calc(100% - 110px);
    padding-top: calc(50% - 90px);
    padding-bottom: 50%;
}

#login form input, #login form label {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

#login form button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

#notify {
    font-size: 14pt;
    font-weight: bold;
    color: #000;
    padding: 5px;
}

#notify.error {
    background: #ff413c;
}

#notify.success {
    background: #5cb85c;
}

#notify.warn {
    background: #bb842e;
}

#notify {
    animation-duration: 0.3s;
}

div.transaction {
    margin-top: 10px;
    padding-bottom: 10px;
}

div.transaction:first-of-type {
    margin-top: 0;
}

div.date-div {
    position: relative;
}

table.addition tr, table td {
    height: 40px !important;
    line-height: 30px;
    font-size: 14pt;
}

table.addition {
    width: 100% !important;
}

table.table-striped tr:nth-child(odd) {
    background: #353535;
}

table.table-striped tr:nth-child(even) {
    background: #1d1d1d;
}

table.addition tr td:first-of-type {
    padding-left: 20px;
}

div#addition {
    padding: 1px 20px 20px;
}

table.addition tr.selected {
    background: #1c728c !important;
}

button#goback {
    margin-top: 25px;
    padding: 5px 10px;
    font-size: 14pt;
}

p.total-addition {
    color: #fff;
    font-size: 14pt;
    font-weight: bold;
}

/* Loading */

div.loading {
    /*display: none;*/
    z-index: 2000;
    position: fixed;
    top: 5px;
    right: 40px;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0s;
}
@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 45px;
    }
    50%, 100% {
        top: 12px;
        height: 26px;
    }
}

#password {
    position: relative;
    width: 190px !important;
    margin: -5px 0 20px 0 !important;
}

#container {
    margin: 20px auto;
    width: 195px;
}
#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
}
#keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 60px;
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
}
.capslock, .tab, .left-shift, .clearl, .switch {
    clear: left;
}
#keyboard .tab, #keyboard .delete {
    width: 70px;
}
#keyboard .capslock {
    width: 80px;
}
#keyboard .return {
    width: 125px;
}
#keyboard .left-shift{
    width: 70px;
}

#keyboard .switch {
    width: 90px;
}
#keyboard .rightright-shift {
    width: 109px;
}
.lastitem {
    margin-right: 0;
}
.uppercase {
    text-transform: uppercase;
}
#keyboard .space {
    float: left;
    width: 556px;
}
#keyboard .switch, #keyboard .space, #keyboard .return{
    font-size: 16px;
}
.on {
    display: none;
}
#keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}